<article>
  <header>
    <img src="images/coins/{{ coinRecord.symbol }}.svg" />
    <h1>{{ coinRecord.name }}</h1>
  </header>
  <main>
    <p>Rank: {{ coinRecord.rank }}</p>
    <p>Supply: {{ coinRecord.supply }}</p>
    <p>Price (GBP): {{ coinRecord.price_gbp }}</p>
    <div>
    <p>Change in last hour: {{ coinRecord.percent_change_1h }}%</p>
    <p>Change in last day: {{ coinRecord.percent_change_24h }}%</p>
    <p>Change in last week:{{ coinRecord.percent_change_7d }}%</p>
    </div>
  </main>
  <footer>
    <p>Acronym: {{ coinRecord.symbol }}</p>
  </footer>
</article>