<article>
  <header>
    <span style="background-image: url(/images/coins/{{ coinRecord.symbol }})"></span>
    <h1>{{ coinRecord.name }}</h1>
  </header>
  <main>
    <p>{{ coinRecord.rank }}</p>
    <p>{{ coinRecord.supply }}</p>
    <p>{{ coinRecord.price_gbp }}</p>
    <p>{{ coinRecord.percent_change_1h }}</p>
    <p>{{ coinRecord.percent_change_24h }}</p>
    <p>{{ coinRecord.percent_change_7d }}</p>
    
  </main>
  <footer>
    <p>{{ coinRecord.symbol }}</p>
  </footer>
</article>