<article>
  <header>
    <span style="background-image: url(/images/coins/{{ this.symbol }})"></span>
    <h1>{{ coin.name }}</h1>
  </header>
  <main>
    <p>{{ coin.rank }}</p>
    <p>{{ coin.supply }}</p>
  </main>
  <footer>
    <p>{{ coin.symbol }}</p>
  </footer>
</article>